# 设置固件大小:
CONFIG_TARGET_ramips=y
CONFIG_TARGET_ramips_mt7621=y
CONFIG_TARGET_ramips_mt7621_DEVICE_xiaomi_mi-router-ac2100=y

CONFIG_TARGET_BOARD="ramips"
CONFIG_TARGET_SUBTARGET="mt7621"
CONFIG_TARGET_PROFILE="DEVICE_xiaomi_mi-router-ac2100"

CONFIG_KERNEL_MIPS_FPU_EMULATOR=y

CONFIG_PACKAGE_luci-app-turboacc=y
CONFIG_PACKAGE_luci-app-turboacc_INCLUDE_flow-offload=y
CONFIG_PACKAGE_luci-app-turboacc_INCLUDE_shortcut-fe=n
CONFIG_PACKAGE_luci-app-ramfree=y

# 其他需要安装的软件包:
CONFIG_PACKAGE_autocore-switch=y
CONFIG_OPENSSL_PREFER_CHACHA_OVER_GCM=y


CONFIG_DEFAULT_luci-app-oaf=y
CONFIG_DEFAULT_luci-app-zerotier=y
CONFIG_DEFAULT_luci-app-accesscontrol=y
CONFIG_DEFAULT_luci-app-guest-wifi=y
CONFIG_DEFAULT_luci-app-ttyd=y
CONFIG_DEFAULT_luci-app-adguardhome=y
CONFIG_DEFAULT_luci-app-arpbind=y
CONFIG_DEFAULT_luci-app-ramfree=y
CONFIG_DEFAULT_luci-app-vlmcsd=y
CONFIG_DEFAULT_luci-app-adbyby-plus=y
CONFIG_DEFAULT_luci-app-autoreboot=y
CONFIG_DEFAULT_firewall=y
CONFIG_DEFAULT_luci-app-frpc=y

CONFIG_DEFAULT_luci-app-mwan3=y
CONFIG_DEFAULT_luci-app-mwan3helper=y

CONFIG_DEFAULT_luci-app-S-S R-plus=y


#
# 3. Applications
#

CONFIG_PACKAGE_luci-app-accesscontrol=y
CONFIG_PACKAGE_luci-app-adblock=y

CONFIG_PACKAGE_appfilter=y
CONFIG_PACKAGE_kmod-oaf=y
CONFIG_PACKAGE_luci-app-oaf=y
CONFIG_PACKAGE_luci-i18n-oaf-zh-cn=y

CONFIG_PACKAGE_zerotier=y
CONFIG_PACKAGE_luci-app-zerotier=y
CONFIG_PACKAGE_luci-i18n-zerotier-zh-cn=y

CONFIG_PACKAGE_luci-app-accesscontrol=y
CONFIG_PACKAGE_luci-i18n-accesscontrol-zh-cn=y

CONFIG_PACKAGE_luci-app-guest-wifi=y

CONFIG_PACKAGE_ttyd=y
CONFIG_PACKAGE_luci-app-ttyd=y
CONFIG_PACKAGE_luci-i18n-ttyd-zh-cn=y

CONFIG_PACKAGE_luci-app-adbyby-plus=y
CONFIG_PACKAGE_luci-app-adguardhome=y
CONFIG_PACKAGE_luci-app-arpbind=y
CONFIG_PACKAGE_luci-i18n-arpbind-zh-cn=y

CONFIG_PACKAGE_luci-app-ramfree=y
CONFIG_PACKAGE_luci-i18n-ramfree-zh-cn=y

CONFIG_PACKAGE_luci-app-vlmcsd=y
CONFIG_PACKAGE_luci-i18n-vlmcsd-zh-cn=y

CONFIG_PACKAGE_luci-app-autoreboot=y

CONFIG_PACKAGE_firewall=y
CONFIG_PACKAGE_luci-app-firewall=y
CONFIG_PACKAGE_luci-i18n-firewall-zh-cn=y

CONFIG_PACKAGE_frpc=y
CONFIG_PACKAGE_luci-app-frpc=y
CONFIG_PACKAGE_luci-i18n-frpc-zh-cn=y

CONFIG_PACKAGE_luci-app-mwan3=y
CONFIG_PACKAGE_luci-app-mwan3helper=y


#
# Extra packages
#
CONFIG_PACKAGE_ipv6helper=y
# end of Extra packages


#
# Firewall
#
# CONFIG_PACKAGE_libfko is not set
CONFIG_PACKAGE_libip4tc=y
CONFIG_PACKAGE_libip6tc=y
CONFIG_PACKAGE_libxtables=y
# CONFIG_PACKAGE_libxtables-nft is not set
# end of Firewall
